.friendMessage {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.friendImageAndText {
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
}

.friendImageAndText img {
    width: 48px;
}

.friendText {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px 13px;
    border-radius: 10px 10px 10px 0;
    margin-left: 15px;
    text-align: left;
    min-height: 60px;
    box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.1), 0 5px 20px 0 rgba(29, 33, 38, 0.03);
    background: rgb(245, 247, 251);
}

.friendText:after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: -31px;
    right: 0;
    display: block;
    width: 30px;
    height: 30px;
    background: radial-gradient(70px at top left, transparent 49%, rgb(245, 247, 251) 51%) no-repeat right bottom;

}

.friendName {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;

}

.friendMessageText {
    color: rgb(0, 0, 0);
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;

}

.friendTime {
    position: relative;
    left: 10px;
    color: rgb(0, 0, 0);
    font-family: Montserrat, sans-serif;
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    text-align: left;

}
